body  {
  background-color:black;
  padding:0;
  margin:0;
  font-family:Helvetica,sans-serif;
  display: flex;
  justify-content: center;
}

h1  {
  color: white;
  
}

button {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  padding:8px 16px;
  cursor:pointer;
  transition: 0.8s;ease
  border: 3px


}



#play-btn:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

#play-btn {
  background-color: #008CBA;
  color: white;
 
}

span {
color:white;
font-family:Helvicta,sans-serif;
}

span:hover+div {
display:block
}
 
  canvas {
    border: 3px solid white;
    margin-top:15%;
    background:powderblue;
  
  }
